.flex {
  display: flex;
  align-items: flex-start;
}

.fl-al-center {
  align-items: center;
}

.fl-al-end {
  align-items: flex-end;
}

.fl-al-self-end {
  align-self: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fl-col {
  flex-direction: column;
}

.fl-justify-between {
  justify-content: space-between;
}

.fl-justify-start {
  justify-content: flex-start;
}

.fl-justify-end {
  justify-content: flex-end;
}

.fl-justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.width-100per {
  width: 100%;
}

.width-50per {
  width: 50%;
}

.width-40per {
  width: 40%;
}

.width-30per {
  width: 30%;
}

.width-25per {
  width: 25%;
}

.width-20per {
  width: 20%;
}

.width-15per {
  width: 15%;
}

.width-10per {
  width: 10%;
}

.pointer {
  cursor: pointer;
}

.none {
  display: none;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}
