// colors
$primary-color: #00b4cc;
$secondary-color: #00778e;
$color-light-green: #9dbfaf;
$icon-bg: #f4f4f4;
$text-white: #ffffff;
$paragraph-primary: #909090;
$paragraph-secondary: #666666;
$color-black: #000000;

// font-sizes
$main-heading-size: 24px;
$h1-size: 18px;
$title-size: 14px;
$paragraph-size: 14px;
$body-size: 12px;

// breaking points
$break-xs: 360px;
$break-sm: 480px;
$break-md: 767px;
$break-lg: 991px;
$break-ipad: 1024px;
$break-xl: 1199px;
$break-dsk: 1440px;
