@import "animate";
@import "hover";
@import "sass/variable.scss";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  // CUSTOM SCROOLLBAR
  ::-webkit-scrollbar {
    width: 8px;
    overflow-y: scroll;
    background: #ffffff;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #d3dce8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #d3dce8;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #99a1aa;
  }
}

.primary-light {
  background: $primary-color;
}

.secondary {
  background: $secondary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0px !important;
  cursor: pointer;
}

h4 {
  font-size: 16px !important;
}

p {
  font-size: 14px !important;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #00b4cc !important;
}
